@keyframes dinamic-text {
    from {
        transform: scale(1);
        color: white;
    } 25% {
        transform: scale(1.05);
        color: rgb(252, 73, 255);
    } 50% {
        transform: scale(1);
        color: white;
    } 75% {
        transform: scale(1.05);
        color: rgb(252, 73, 255);
    } 100% {
        transform: scale(1);
        color: white;
    }
}
@keyframes border {
    from{
        border-color: white;
    } 25% {
        border-color: rgb(252, 73, 255);
    } 50% {
        border-color: white;
    } 75% {
        border-color: rgb(252, 73, 255);
    } to {
        border-color: white;
    }
}
@keyframes dinamic {
    from {
        transform: scale(1);
    } 25% {
        transform: scale(1.05);
    } 50% {
        transform: scale(1);
    } 75% {
        transform: scale(1.05);
    } 100% {
        transform: scale(1);
    }
}
@keyframes one-poin {
    from {
        opacity: 0;
    } 25% {
        opacity: 1;
    } 50% {
        opacity: 1;
    } 75% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}
@keyframes two-poin {
    from {
        opacity: 0;
    } 25% {
        opacity: 0;
    } 50% {
        opacity: 1;
    } 75% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}@keyframes three-poin {
    from {
        opacity: 0;
    } 25% {
        opacity: 0;
    } 50% {
        opacity: 0;
    } 75% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

@keyframes icon {
    from{
        width: 0;
        height: 0;
    } 50% {
        width: 300px;
        height: 300px;
    }to {
        width: 300px;
        height: 300px;
    }
}
@keyframes lading {
    from{
        font-size: 70px;
    } 50% {
        font-size: 0;
        display: none;
    } to {
        display: none;
        font-size: 0;
    }
}